.projects {
  margin-top: 6rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 6rem auto;
}

.projects > h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  -webkit-user-select: none;
  user-select: none;

}

.projects_filter {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.projects_filter p {
  cursor: pointer;
  transition: ease .3s;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;

}

.projects_filter p:hover {
  color: #02cfda;
}



.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem 1rem;
}

.projectCard_container {
  width: 100%;
  min-height: 500px;
  max-width: 550px;
  background: #4f5661;
  color: #222831;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: .7rem;
}

.projectCard_img {
  border-radius: .7rem .7rem 0 0;
  min-height: 40%;
  width: 100%;
  cursor: pointer;
  transition: all ease .3s;
  background-repeat: no-repeat ;
  background-position: center ;
  background-size: 125% ;
  filter: brightness(80%);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.projectCard_img:hover{
  background-size: 140%;
  filter: brightness(100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.project_title {
  height: 100%;
  width: 100%;
  background: #EEEEEE;
}

.project_title::-webkit-scrollbar-thumb {
  background-color: #019ea6;  
  border: 2px solid #eeeeee;
}

.project_title::-webkit-scrollbar {
  width: 8px; 
}

.project_title div {
  overflow-y: auto;
  max-height: 7.5rem;
}

.project_title h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.project_title p {
  padding: .5rem;
  line-height: 1.3rem;
  color: #393e46;
}

.project_links {
  background: #EEEEEE;
  width: 100%;
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.project_links a {
  background: #00ADB5;
  color: #EEEEEE;
  text-decoration: none;
  padding: .7rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  transition: all ease .3s;
  -webkit-user-select: none;
  user-select: none;
}

.project_links a:hover {
  background: #02cfda;
}

.project_links .repo_btn {
  background: #222831;
}

.project_links .repo_btn:hover {
  background: #4f5661;
}

.project_links .repo_btn svg {
  position: relative;
  bottom: -.2rem;
  right: -.1rem;
}

.project_tech {
  background: #4f5661;
  padding: .5rem 0 0 .4rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0 0 .6rem .6rem ;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project_tech i,
.projects_filter i {
  cursor: pointer;
  font-size: 1.7rem;
  background: none;
  border: none;
}

.projects_filter i {
  font-size: 2rem;
  opacity: .5;
}

.project_tech i:hover,
.projects_filter i:hover {
  filter: brightness(80%);
}

.project_tech i:active {
  scale: .9;
}

#projects .selected {
  opacity: 1;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}